.egra-form {
  margin: 20px auto;
  margin-bottom: 85px;
  background-color: white;
  padding: 0;

  .form-group, .helpvalue {
    margin: 20px auto;
    padding: 20px;
  }

  .control-label.normal-label {
    margin-bottom:20px;
    .question_number {
      display: block;
      font-size:1.4em;
      margin-bottom: 1em;
      &:after {
        content: ")"
      }
    }
  }

  .radio input[type="radio"],
  .radio-inline input[type="radio"],
  .checkbox input[type="checkbox"],
  .checkbox-inline input[type="checkbox"] {
    display:none;
  }

  .radio label,
  .checkbox label {
    width:100%;
  }
  .radio label span,
  .checkbox label span {
    display: block;
    width:100%;
    padding: 10px;
    background:#ddd;
  }
  .radio label input:checked ~ span,
  .checkbox label input:checked ~ span {
    background: $checked_color;
  }
  .radio-inline label input:checked ~ span {
    color:white;
  }
  .form-group:not(.grid) {
    padding:30px;
  }
  bootstrap-decorator:nth-of-type(even) .form-group:not(.grid):not(.schema-form-submit) {
    background-color: rgba($white, 0.5);
  }

  .form-group:not(.grid) .radio,
  .form-group:not(.grid) .checkbox {
    margin:14px 20px;
  }
  .form-group:not(.grid) .radio span,
  .form-group:not(.grid) .checkbox span {
    user-select: none;
    font-size:1.5em;
    margin:0 8px;
  }
  .form-group:not(.grid) .radio input,
  .form-group:not(.grid) .checkbox input {
    height:16px;
    width:16px;
    padding-left:5px;
  }

  .has-success label {
    color: $black !important;
  }
  .help-block {
    display:none;
  }

  .schema-form-submit {
    padding-top:40px;
  }
  .schema-form-submit input[type=submit] {
    width:100%;
    text-transform: uppercase;
    font-weight: bold;
    padding:10px 0;
    font-size:1.5em;
  }
  .timer {
    padding: 0 20px;
  }
  .timer-inner a {
    text-transform: uppercase;
    font-weight: bold;
    padding:10px 0;
    font-size:1.5em;
  }
  input[name$="_consent"] + span{
    border: 5px solid #444 !important;
  }
  .checkbox div span{
    background: none !important;
  }
}
