<div class="section home-section">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="margin-top-20">{{'THANK_YOU' | i18n}}</h1>
      <div class="margin-top-20">
        <!-- <table class="survey-info-table">
          <tr><td>Response ID</td><td>{{vm.response._id}}</td></tr>
          <tr><td>Student Unique ID</td><td>{{vm.response.response_info.student_unique_code}}</td></tr>
          <tr><td>IRR Entry</td><td>{{vm.response.response_info.irr_entry || false}}</td></tr>
          <tr><td>Training Entry</td><td>{{vm.response.response_info.training_entry || false}}</td></tr>
          <tr ng-show="response.response_info.training_entry"><td>Gold Standard</td><td>{{vm.response.response_info.gold_standard}}</td></tr>
          <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
          <tr><td>Start Time</td><td>{{vm.response.response_info.survey_started | dateDisplay}}</td></tr>
          <tr><td>End Time</td><td>{{vm.response.response_info.survey_finished | dateDisplay}}</td></tr>
          <tr><td>Time Elapsed</td><td>{{vm.elapsed | timeElapsed}}</td></tr>
          <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
          <tr><td>Enumerator ID</td><td>{{vm.response.response_info.enumerator_id}}</td></tr>
          <tr><td>Enumerator Name</td><td>{{vm.response.response_info.enumerator_name}}</td></tr>
          <tr><td>School Code</td><td>{{vm.response.response_info.school_code}}</td></tr>
        </table> -->
      </div>
      <a ui-sref="app.home" class="btn btn-block btn-primary btn-space margin-top-20">{{'RETURN_HOME' | i18n}}</a>
    </div>
  </div>
</div>
